{% extends "modules/layout.html" %}
{% block body %}
<div class="jumbotron bg-dark p-2">
  <h3 class="display-3 text-center text-white">catalog</h3>
  <div class="d-flex flex-wrap justify-content-center">
    {% for module in modules %}
    <a href="{% url 'module' module.id %}"></a>
    <div class="card bg-dark border-0">
      <card class="btn btn-primary m-1" data-section="{{ module.id }}">
        <kbd>Module #{{ module.id }}</kbd>
        <div class="card-body">
          
          {{ module.name }}
        </div>
        <div class="card-footer text-end bg-muted">
          {{ module.lessons.all | length }} lesson(s)
        </div>
      </card>
    </div>
    {% endfor %}  
  </div>
</div>
<div id="content"></div>
{% endblock %}