<div class="d-flex flex-wrap justify-content-center">
    {% for lesson in lessons %}
    <div class="col-sm-2 card shadow-lg border-2 border-primary p-2 m-2">
      <div class="card-body">
        <a href="{{ lesson.link }}">
            <h6 class="card-title">{{ lesson.name }}</h6>
        </a>
        </div>
      <div class="card-footer text-end bg-muted">{{ lesson.date }}</div>
    </div>
    {% empty %}
    <p>
      <kbd>No lessons on this module yet.</kbd>
    </p>
      {% endfor %}
  </div>