<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
</head>
<body>
    <h1>Module {{ module.id }}</h1>

<ul>
    <li>Name: {{ module.name }}</li>

<h2>Lessons</h2>

<ul>
    {% for lesson in lessons %}
        <li>{{ lessons }}</li>
    {% empty %}
        <li>No lessons on this module yet.</li>
    {% endfor %}
</ul>

<a href="{% url 'index' %}">Back to Modules List</a>
</body>
</html>