<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
</head>
<body>
    <h2>Module #{{ module.id }}: {{ module.name }}</h2>

<h2>Content:</h2>

<ul>
    {% for lesson in lessons %}
        <li>{{ lesson }}</li>
    {% empty %}
        <li>No lessons on this module yet.</li>
    {% endfor %}
</ul>
<br>
<a href="{% url 'index' %}">Back to Modules List</a>
</body>
</html>